/*font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;*/

:root {
  --backgroundColor: #f9f7fe;
  --mainFont: "Poppins", sans-serif;
  --headFont: "Playfair Display", serif;
  --textColor: #272142;
}
body {
  font-family: var(--mainFont);
}
h1 {
  font-family: var(--headFont);
  font-weight: bold;
  font-size: 96px;
}
.hero {
  text-align: center;
  background-color: var(--backgroundColor);
  padding: 160px 20px;
}

.hero h3 {
  color: var(--textColor);
  font-size: 36px;
  font-weight: 700;
}
.hero p {
  color: var(--textColor);
  font-size: 24px;
  font-weight: normal;
  margin-top: 24px;
  line-height: 1.5;
}
.hero div {
  margin-top: 67px;
}
.hero div a {
  padding: 18px 46px;
  border-radius: 4px;
  background-color: #6c63ff;
  color: white;
  text-decoration: none;
}
